<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invite Member</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="popup" style="height: 170px">
    <h1 style="text-align: center; margin: 0">멤버 초대(0팀)</h1>
    <form action="" class="inviteMemberForm">
      <label class="heading"
        >초대할 ID : <input type="text" name="inviteID"
      /></label>
      <button type="submit">초대</button>
    </form>
  </body>
</html>
