<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Type Selection</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="icon" type="image/png" href="/imgs/book.png" />
  </head>
  <body>
    <!-- Navbar -->
    <nav id="navbar">
      <div class="navbarLogo">
        <a href="/" class="navbarLogo">Focus on Study</a>
      </div>
      <div class="navbarMenu div">
        <ul class="navbarMenu">
          <a href="auth_fos/logout" class="navbarMenuItem">Logout</a>
        </ul>
      </div>
    </nav>
    <div class="pageFrame typeSelect">
      <div class="aloneBox">
        <div class="select_button">
      <div class="pointer_img"></div> 
      <button
          type="button"
          class="aloneButton"
          onclick="location.href='aloneStudy'"
        >
          <!-- onclick="location.href='/typeSelection/aloneStudy'" -->
          Alone
      </button>
    </div> 
    </div>
      <div class="groupBox">

        <form action="groupStudy.html">    
            <select class="selectGroup">
              <option value="1팀">1팀</option>
              <option value="2팀">2팀</option>
            </select>
            <!-- <div class="select_button"> -->
            <div class="pointer_img"></div> 
            <button
              type="button"
              class="groupButton"
              onclick="location.href='/typeSelection/groupStudy'">
              Group
            </button>
          <!-- </div> -->
         
      </form>
        </button>
      </div>
    </div>
  </body>
  <script>
    
  </script>
</html>